In [2]:
# State Tax Data added from http://www.census.gov/govs/statetax/
import pandas as pd

a = pd.read_csv("salaries_1.csv")
b = pd.read_csv("stateTax.csv")
# b = b.dropna(axis=1)
merged = a.merge(b, on='State')
merged.to_csv("output.csv", index=False)

In [3]:
print (a.shape)
print (b.shape)
print (merged.shape)

(2222, 29)
(50, 26)
(2210, 54)

In [4]:
# usData = pd.read_csv("US.csv", sep='\t')
a = pd.read_csv("output.csv")
b = pd.read_csv("us_postal_codes.csv")
merged = a.merge(b, on='Zip')
merged.to_csv("output2.csv", index=False)
print (a.shape)
print (b.shape)
print (merged.shape)

(2210, 54)
(43582, 8)
(2210, 61)

In [5]:
merged.head(5)

,Function,sup1,sup2,sup3,sup4,sup5,salary,gender,disabled,race,...,T51,T53,T99,Place Name,State_y,State Abbreviation,County,Latitude,Longitude,Unnamed: 7
0,position1,1,1,0,20,1,38000.0,Man,False,Caucasian,...,10698,0,0,Albany,Georgia,GA,Dougherty,31.5789,-84.2118,NaN
1,position20,0,0,0,5,1,33000.0,Man,False,Caucasian,...,10698,0,0,Albany,Georgia,GA,Dougherty,31.5789,-84.2118,NaN
2,position1,1,0,0,12,0,45000.0,Man,False,Caucasian,...,10698,0,0,Dalton,Georgia,GA,Whitfield,34.7635,-84.9875,NaN
3,position6,0,0,0,10,0,29000.0,Woman,False,Caucasian,...,10698,0,0,Dalton,Georgia,GA,Whitfield,34.7635,-84.9875,NaN
4,position1,2,0,5,100,1,62000.0,Woman,False,Caucasian,...,10698,0,0,Savannah,Georgia,GA,Chatham,31.9959,-81.2358,NaN